/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i|Roboto:900')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

/* Navbar Styles */

#navblock
	width: 100%
	height: 70vh
	background-color: #FDEF99

#navbar 
	margin-top: 5vh
	display: block
	width: 100%

	a
		color: black

	.nav-logo
		font-weight: black !important
		font-family: 'Roboto', sans-serif
		font-size: 3vw
		letter-spacing: .8vw
		display: inline-block
		float: left
		margin-left: 20vw
		a
			text-decoration: none


	.nav-items
		font-family: 'Roboto Mono', monospace
		font-size: 1vw
		letter-spacing: .2vw
		display: inline-block
		float: right
		margin-top: 2.8vh
		margin-right: 20vw
		a
			margin-left: 4vw
			text-decoration: none
		a:hover
			font-style: italic


	.navbar-appear 
		opacity: 0.01

	.navbar-appear.navbar-appear-active 
		opacity: 1
		transition: 1s ease-in





/*****************/

/* Content Block Styles */

.content-block
	background-color: #FDEF99
	.content-wrapper
		margin-bottom: 10vh
		margin-left: 50vw
	.content-head
		margin-bottom: -0.3vh
		font-family: 'Roboto', sans-serif
		font-size: 1.5vw
		font-weight: black
	.content-body

		font-family: 'Roboto Mono', monospace
		font-size: 90%
		width: 25vw
	.content-image
		width: 150px
		height: 300px 
		margin-left: -20vw
		margin-right: 3vw
		mix-blend-mode: multiply
		float: left
		width: 20vw
		filter: grayscale(100%)
	.content-links
		margin-bottom: 4vh
		font-family: 'Roboto Mono', monospace
		font-weight: bold
		font-style: italic
		display: inline-block
		a:link
			color: black

/*****************/

/* Contact Block Styles */

.contact-block
	background-color: #FDEF99
	.contact-wrapper
		margin-bottom: 10vh
	.contact-form-right
		margin-left: 52vw
		width: 20vw
		text-align: left
	.contact-form-left
		margin-bottom: -20vh
		margin-left: 28vw
		width: 20vw
		text-align: right
	.contact-head
		font-family: 'Roboto', sans-serif
		font-weight: black
		font-size: 20pt
	.contact-body
		font-family: 'Roboto Mono', monospace
		.contact-body-email
			margin-top: 1vh
			margin-bottom: -0.2vh
			font-style: italic
		.contact-body-phone
			font-style: italic


/*****************/

body
	background-color: #FDEF99 !important


.links
	margin-right: 15vw
	color: white !important

#video-background 

	align:center
	right: 0 
	bottom: 0
	margin-left: 10vw
	width: 80vw
	height: 20%
	z-index: -100



video
	margin-bottom: 10vh
	

.nav-panel-links
	margin-top: 50vh
	transition: 500ms linear
	nav-link 
		transition: 500ms linear
