// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 
	font-family: 'Source Code Pro', monospace !important
	font-size: 15vmin !important
	margin-top: -15vh !important
	margin-right: 50vw !important


.jumbotron
	width: 90vw
	margin-left: 5vw
	text-align: left !important
	p 
		text-align: left !important



.link-box
	background-color: red
	margin-bottom: 10vh
	height: 20vh

.example-enter 
	opacity: 0.01


.example-enter.example-enter-active 
	opacity: 1
	transition: opacity 5000ms ease-in

.example-leave 
	opacity: 1


.example-leave.example-leave-active 
	opacity: 0.01
	transition: opacity 3000ms ease-in

.nav-panel-selected
	margin-left: -3vw
	color: red